<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="app">
        <!-- Task 1 -->
        <b><p>Name</p></b>
        <input v-model="name" type="text" placeholder="Please enter your full name" />
        <p> Input Value: {{ name }}</p>
        <b><p>Phone Number</p></b>
        <input v-model="phoneNum" type="tel" placeholder="Please enter your phone number" />
        <p> Input Value: {{ phoneNum }}</p>
        <!-- Task 1 End -->

        <div></div>
        <div></div>

        <!-- Task 2 -->
        <h3>To-Do</h3>
        <input type="checkbox" id="checkbox" v-model="checked" />
        <label for="checkbox"> {{ checked}} </label>
        <div></div>
        <input type="checkbox" id="task1" value="Go shopping" v-model="checkedTasks" />
        <label for="Go shopping">Go shopping</label>
        <div></div>
        <input type="checkbox" id="task2" value="Cook dinner" v-model="checkedTasks" />
        <label for="Cook dinner">Cook dinner</label>
        <div></div>
        <input type="checkbox" id="task3" value="Prepare desert" v-model="checkedTasks" />
        <label for="Prepare desert">Prepare desert</label>
        <div></div>
        <span>Checked Names: {{checkedTasks}}</span>
         <!-- Task 2 End -->

        <br>
        <br>
        <!-- Task 3 -->
        <select v-model = "select">
            <option value = "" disabled> Please select one </option>
            <option v-for = "n in 3" > {{n}} </option>
        </select>
        <span>Selected Number: {{select}}</span>
        <!-- Task 3 End -->
    </div>

    <script src="index.js"></script>
</body>

</html>