<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@2"></script>
    <style>
        /* set the attributes of the animated line under the nav bar*/
        .navbarline {
            width: 1px;
            height: 2px;
            background: #194F77;
            position: absolute;
            top: 22.88%;
            left: 0.625%;

            animation: increase 4s;
            animation-fill-mode: forwards;
        }

        @keyframes increase {
            100% {
                width: 800px;
            }
        }
    </style>
</head>

<body>

    <div class="subPage-title">Self Improvement</div>
    <header>
        <div class="navbar">
            <a href="#index">Home</a>
            <a href="#allposts">All Posts</a>
            <a class="active" href="contactUs.html">Contact Us</a>
        </div>
        <div class="navbarline"></div>
    </header>

    <br><br><br><br><br>
    <div class="enquiry-forum">
        <div id="app">
            <b>
                <p>Full Name</p>
            </b>
            <input v-model="name" type="text" placeholder="Please enter your full name" />
            <b>
                <p>Phone Number</p>
            </b>
            <input v-model="phoneNum" type="tel" placeholder="Please enter your phone number" />
            <b>
                <p>Enquiry Details</p>
            </b>
            <textarea v-model="enquiry" placeholder="Enter your enquiry details"></textarea>

            <br>
            <button onclick="confirm()">Submit</button>
            <p id="confirmMessage" style="display:none"> {{name}}, your enquiry has been sent! We will get back to you shortly.</p>
            <br><br><br>
            <p style="text-align: center;"><contact></contact></p>
        </div>
    </div>

    <script src="js/app.js"></script>
</body>

</html>