<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/vue-router@2.7.0/dist/vue-router.js"></script>
    <style>
        /* set the attributes of the animated line under the nav bar*/
        .navbarline {
            width: 1px;
            height: 2px;
            background: #194F77;
            position: absolute;
            top: 89.52%;
            left: 0.625%;

            animation: increase 4s;
            animation-fill-mode: forwards;
        }

        @keyframes increase {
            100% {
                width: 62.5%;
            }
        }
    </style>
</head>

<body>
    <img src="images/purpose.jpg" style="width:100%;">
    <div class="page-title">Self Improvement</div>
    <header>
        <div class="navbar">
            <a class="active" href="index.html">Home</a>
            <a href="#allposts">All Posts</a>
            <a href="#contact">Contact Us</a>
        </div>
        <div class="navbarline"></div>
    </header>

    <br><br><br><br><br>
    <p class="title">Latest Posts</p>

    <div id="app">
        <!-- Router -->
        <nav>
            <router-link to="/">Home</router-link>
              <router-link to="/contactUs">Contact Us</router-link>
          </nav>
          <router-view></router-view>
        <!-- Router End -->
        
        <div class="posts-container">
            <img src="images/habit.jpg" alt="habit" style="width:100%">
            <p v-if="exist">How to Build Habit</p>
        </div>
        <div class="posts-container">
            <img src="images/motivation.png" alt="motivation" style="width:100%">
            <p v-if="exist">Gaining Motivation</p>
        </div>
        <div class="posts-container">
            <img src="images/goals.jpg" alt="goals" style="width:100%">
            <p v-if="exist">Stick to your Goals</p>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>

</html>