 /* Navigation Bar */
 /* Sets the background color of the navigation bar*/
 .navbar {
   background-color: white;
 }

 /* Style the links inside the navigation bar */
 .navbar a {
   float: left;
   color: #140661;
   font-size: 19px;
   text-decoration: none;
   padding: 20px 20px;
 }

 /* Setting the color of the page link which the site is currently on */
 .navbar a.active {
   background-color: #5c9bcf;
   /* set color of selection box*/
   color: white;
   /* set color of text*/
 }

 /* When mouse hovers on link, change color */
 .navbar a:hover {
   background-color: #d2e1ef;
   /* set color of selection box*/
   color: black;
   /* set color of text*/
 }
  /* Navigation Bar End */

  /* Page Set up */
 .page-title {
   position: absolute;
   top: 16.63%;
   /*100px/601px*100*/
   right: 15.63%;
   /*200px/1280px*100*/
   font-size: 60px;
 }

 p.title {
   font-size: 25px;
   color: #140661;
 }

 /* To ensure the post container doesn't break  */
 * {
  box-sizing: border-box;
}

 /* Setting the dimensions of the containers  */
.post-container {
  float: left;
  width: 33.33%;
  padding: 10px;
}
   /* Page Set end */