 /* Navigation Bar */
 /* Sets the background color of the navigation bar*/
 .navbar {
   background-color: white;
 }

 /* Style the links inside the navigation bar */
 .navbar a {
   float: left;
   color: #194F77;
   font-size: 19px;
   text-decoration: none;
   padding: 20px 20px;
 }

 /* Setting the color of the page link which the site is currently on */
 .navbar a.active {
   /* set color of selection box*/
   background-color: #82A7D0;
   /* set color of text*/
   color: white;
 }

 /* When mouse hovers on link, change color */
 .navbar a:hover {
   /* set color of selection box*/
   background-color: #d2e1ef;
   /* set color of text*/
   color: #194F77;
 }

 /* Navigation Bar End */

 /* Page Set Up*/
 .page-title {
   position: absolute;
   color: #194F77;
   /*100px/601px*100*/
   top: 16.63%;
   /*200px/1280px*100*/
   right: 15.63%;
   font-size: 60px;
   animation-name: color-change;
   animation-duration: 6s;
   animation-iteration-count: 1;
   --color-1: #82A7D0;
   --color-2: #194F77;
 }

 .subPage-title {
   font-size: 60px;
   color: #194F77;
   text-align: center;
 }

 @keyframes color-change {
   0% {
     color: var(--color-1)
   }

   100% {
     color: var(--color-2)
   }
 }

 p.title {
   font-size: 25px;
   color: #194F77;
 }

 /* To ensure the posts container doesn't break  */
 * {
   box-sizing: border-box;
 }

 /* Setting the dimensions of the containers  */
 .posts-container {
   float: left;
   width: 33.33%;
   padding: 0.78%;
   background-color: #ffffff;
 }

 p {
   color: #194F77;
   font-size: 18px;
 }

 /* Page Set Up end */