<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
  <div id="app">
    {{ message }}

    <p v-if="exist"> Vue is awesome!</p>
    <p v-else>Vue is not awesome!</p>
    <p v-show="symbol">:)</p>

    <li v-for="item in nameList">
      {{ item.name }}
    </li>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello World, this is Vue!',
        exist: false,
        symbol: true,
        nameList: [{ name: 'Jerry' }, { name: 'Tom' }]
      }
    })
  </script>
</body>

</html>